html {
    height: 100%;
}
body {
    /* remove margins and scroll bars */
    overflow: hidden;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: Sans-Serif;
}

.hud-container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.score-callout-container {
    position: absolute;
    display: flex;
    font-size: 40px;
    align: center;
    left: 50%;
    top: -20%;
    transform: translate(-50%, -50%);
}

.score-callout-hide-animation {
    animation-name: score-callout-hide;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.score-callout-show-animation {
    animation-name: score-callout-show;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes score-callout-hide {
    from {
        top: 5%;
    }
    to {
        top: -20%;
    }
}

@keyframes score-callout-show {
    from {
        top: -20%;
    }
    to {
        top: 5%;
    }
}

.score-container {
    height: fit-content;    
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
}

.score-container p {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.scorecard, tr, th, td {
    padding: 4px;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}

.scorecard-hide-animation {
    animation-name: scorecard-hide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.scorecard-show-animation {
    animation-name: scorecard-show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes scorecard-hide {
    from {
        right: 0px;
    }
    to {
        right: -400px;
    }
}

@keyframes scorecard-show {
    from {
        right: -400px;
    }
    to {
        right: 0px;
    }
}

.scorecard {
    background-color: white;
    display: flex;
    position: absolute;
    justify-self: center;
    align-self: center;
    right: 0px;
    margin: 30px;
    padding: 10px;
    font-size: 30px;
    border: 4px solid blue;
    border-radius: 10px;
}

#total-text {
    color: red;
}

.strike-meter-container {
    position: relative;
    height: 50%;
    margin: 30px;
    margin-right: 10px;
    width: 40px;
    min-height: 250px;
    border: 4px solid black;
    border-radius: 20px;
    z-index: 2;
}

.strike-meter-value {
    position: absolute;
    bottom: 0px;
    height: 60%;
    width: 100%;
    background-color: red;
    border-radius: 15px;
}

.menu-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.in-game-menu {
    display: none;
    justify-content: center;
    align-content: center;
    flex-direction: column; 
    border-radius: 25px;
    pointer-events: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.resume-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.button {
    background-color: white;
    border: 4px solid blue;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    font-size: 40px;
    color: black;
    border-radius: 10px;
    pointer-events: auto;
}

.menu-button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: white;
    border: 4px solid blue;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 30px;
    font-size: 24px;
    color: black;
    border-radius: 10px;
    pointer-events: auto;
}

.levels-menu {
    display: none;
    flex-direction: column;
    pointer-events: auto;
}

.level-boxes-container {
    width: 600px;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.level-box {
    background-color: white;
    border: 4px solid blue;
    border-radius: 10px;
    padding: 10px;
}

.level-box p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 4px;
}

.level-box img {
    padding: 2px;
}

#levels-back-button {
    margin-left: 0px;
    margin-right: 0px;
}

#debug-text {
    position: absolute;
    text-align: left;
    width: 100%;
    left: 10px;
    font-size: 20px;
    color: black;
    pointer-events: none;
}

#scene-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: skyblue;
}
