html {
    height: 100%;
}
body {
    /* remove margins and scroll bars */
    overflow: hidden;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: Sans-Serif;
}

.loading-screen {
    position: absolute;
    display: flex;
    opacity: 0%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: white;
    pointer-events: none;
    z-index: 2;
}

.loading-screen p {
   font-size: 90px; 
}

.loading-screen-fade-in-animation {
    animation-name: loading-fade-in;
    animation-duration: 0s;
    animation-fill-mode: forwards;
}

.loading-screen-fade-out-animation {
    animation-name: loading-fade-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes loading-fade-in {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
@keyframes loading-fade-out {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}

/*https://cssloaders.github.io/*/
.loading-spinner {
    width: 64px;
    height: 64px;
    border: 10px solid #555;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: spinner-rotation 1s linear infinite;
}

@keyframes spinner-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.score-callout-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
    align: center;
    left: 50%;
    top: -50%;
    transform: translate(-50%, 0%);
}

.score-callout-hide-animation {
    animation-name: score-callout-hide;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.score-callout-show-animation {
    animation-name: score-callout-show;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes score-callout-hide {
    from {
        top: 5%;
    }
    to {
        top: -50%;
    }
}

@keyframes score-callout-show {
    from {
        top: -50%;
    }
    to {
        top: 5%;
    }
}

.hud-container {
    position: absolute;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.score-container {
    height: fit-content;    
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
}

.score-container p {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.continue-button-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    pointer-events: none;
}

#continue-button {
    display: none;
    position: relative;
    bottom: 30%;
    pointer-events: auto;
}

.scorecard {
    background-color: white;
    display: flex;
    position: absolute;
    justify-self: center;
    right: 0px;
    bottom: 150px;
    margin: 30px;
    padding: 10px;
    font-size: 30px;
    border: 4px solid blue;
    border-radius: 10px;
    border-collapse: collapse;
}

.scorecard th, .scorecard td {
    padding: 4px;
    text-align: center;
    border: 2px solid black;
}

.scorecard-hide-animation {
    animation-name: scorecard-hide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.scorecard-show-animation {
    animation-name: scorecard-show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes scorecard-hide {
    from {
        right: 0px;
    }
    to {
        right: -400px;
    }
}

@keyframes scorecard-show {
    from {
        right: -400px;
    }
    to {
        right: 0px;
    }
}

#total-text {
    color: red;
}

.hole-info-table {
    background-color: white;
    display: flex;
    margin: 30px;
    padding: 10px;
    font-size: 24px;
    border: 4px solid blue;
    border-radius: 10px;
    border-collapse: collapse;
}

.hole-info-table th, .hole-info-table td { 
    padding: 4px;
    text-align: right;
    border: 2px solid black;
}

.strike-meter-container {
    position: relative;
    height: 50%;
    margin: 30px;
    margin-bottom: 0px;
    width: 40px;
    min-height: 250px;
    border: 4px solid black;
    border-radius: 20px;
}

.strike-meter-value {
    position: absolute;
    bottom: 0px;
    height: 60%;
    width: 100%;
    background-color: red;
    border-radius: 15px;
}

.menu-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.in-game-menu {
    display: none;
    justify-content: center;
    align-content: center;
    flex-direction: column; 
    border-radius: 25px;
    pointer-events: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.resume-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.button {
    background-color: white;
    border: 4px solid blue;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    font-size: 40px;
    color: black;
    border-radius: 10px;
    pointer-events: auto;
}

.menu-button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: white;
    border: 4px solid blue;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 30px;
    font-size: 24px;
    color: black;
    border-radius: 10px;
    pointer-events: auto;
}

#scorecard-toggle-button {
    bottom: 70px;
}

.levels-menu {
    display: none;
    flex-direction: column;
    pointer-events: auto;
}

.level-boxes-container {
    width: 600px;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.level-box {
    background-color: white;
    border: 4px solid blue;
    border-radius: 10px;
    padding: 10px;
}

.level-box p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 4px;
}

.level-box img {
    padding: 2px;
}


#levels-back-button {
    margin-left: 0px;
    margin-right: 0px;
}

#debug-text {
    position: absolute;
    text-align: left;
    width: 100%;
    left: 10px;
    font-size: 20px;
    color: black;
    pointer-events: none;
}

#scene-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: skyblue;
}
